*, *::before, *::after{
  box-sizing: border-box;
}

html, body, .content{
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  background-color: $bg;
  font: $font;
  color: $color;
  line-height: 1.4;
  display: grid;
  grid-auto-rows: 1fr auto;
  grid-template-areas:
  "main"
  "footer";
}
a{
  text-decoration: none;
  color: lighten($color,5%);
  outline-color: $color;
}
.main {
  grid-area: main;
  justify-self: center;
  align-self: center;
}
.footer {
  grid-area: footer;
}

%center{
  display: flex;
  align-items: center;
  justify-content: center;
}
