@import "_vars.scss";
@import "_basic.scss";

body{
  background-image: url('../images/bg-mobile.png');
  background-size: cover;
}
.main{
  width: $mobileWidth;
  display: grid;
  gap: 16px;
  grid-template-columns: [start] auto [one] 180px [two] auto [end];
  grid-template-rows: [start] auto [one] auto [two] 36px [tree] 16px [end];
}
.box{
  padding: 40px;
  background-color: $boxBg;
  border-radius: $radius;
  &_main{
    grid-column: start / end;
    grid-row: start / one;

    border-top-right-radius: 100px;
  }
  &_storage{
    grid-column: start / end;
    grid-row: one / tree;

    padding: 32px 32px 50px;;
    p{
      margin: 0 14px 14px;
    }
  }
}
.icons{
  display: flex;
  padding-top: 28px;
  &_link{
    background-color: $veryDarkBlue;
    border-radius: $radius;
    width: 48px;
    height: 48px;

    @extend %center;

    & + .icons_link{
      margin-left: 16px;
    }
  }
}
.progress{
  height: 20px;
  background-color: hsl(228, 55%, 18%);
  border-radius: 10px;
  width: 100%;
  padding: 3px;
  p{
    margin-top: 0;
    letter-spacing: .1px;
  }
  &_bar{
    background-color: nth($gradient, 2);
    background: linear-gradient(90deg, nth($gradient, 1) 0%, nth($gradient, 2) 100%);
    border-radius: 7px;
    width: 74%;
    height: 100%;
    padding: 2px;
    display: flex;
    justify-content: flex-end;
    .dot{
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: $paleBlue;
    }
  }
  &_desc{
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    font-size: .87em;
    padding-top: 8px;
  }
}

.cloud{
  background-color: #fff;
  border-radius: $radius;
  text-transform: uppercase;
  font-weight: 700;
  height: 72px;

  grid-column: one / two;
  grid-row: two / end;

  @extend %center;

  > * {
    padding: 0 5px;
  }
  .number{
    color: $veryDarkBlue;
    font-size: 2.8em;
  }
  .label{
    color: $grayishBlue;
    font-size: .9em;
    letter-spacing: 1px;
  }
}
.attribution{
  padding: $gap * 2;
  text-align: center;
  background-color: $veryDarkBlue;
}
